.phone-input-form{
    border: solid 1px rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    padding: 16.5px 14px;
    margin: 0.1rem auto 0rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.PhoneInputInput{
    border: none;
    outline: none;
}

#root > main > div > div > div > form > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.css-1m5cpu6-MuiGrid-root > button{
    
}