.phone-input-form{
    border: solid 1px rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    padding: 15px 14px;
    margin: 0rem auto;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.PhoneInputInput{
    border: none;
    outline: none;
}