.container-live-events{
    margin: 0 auto;
    text-align: left;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--bs-body-bg);
    width: 35vw;
}