<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect React Consumer App" stopProcessing="true">
                    <match url="https://app.devitrak.net/(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Redirect" url="https://app.devitra.net/{R:1}" redirectType="Temporary" />
                </rule>
                <rule name="PageRefresh">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="/build(.*)" />
                        <add input="{URL}" pattern="/script(.*)" />
                        <add input="{HTTP_HOST}" pattern="app.devitrak.net" />
                    </conditions>
                    <action type="Rewrite" url="/{C:1}/{C:1}.html" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <alwaysAllowedUrls>
                </alwaysAllowedUrls>
                <alwaysAllowedQueryStrings>
                    <add queryString="event" />
                    <add queryString="company" />
                </alwaysAllowedQueryStrings>
            </requestFiltering>
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
