@media only screen and (min-width: 2560px) {
  .trigger-notification {
    color: var(--bs-body-bg);
    background-color: var(--main-colorsbluetiful);
    border-radius: 6px;
    transition: none;
    font-family: "Open-sans", sans-serif;
    width: 5vw;
    position: absolute;
    top: 22vh;
    right: 1vw;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 2559px) {
  .trigger-notification {
    color: var(--bs-body-bg);
    background-color: var(--main-colorsbluetiful);
    border-radius: 6px;
    transition: none;
    font-family: "Open-sans", sans-serif;
    width: 6vw;
    position: absolute;
    top: 22vh;
    right: 1vw;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .trigger-notification {
    color: var(--bs-body-bg);
    background-color: var(--main-colorsbluetiful);
    border-radius: 6px;
    transition: none;
    font-family: "Open-sans", sans-serif;
    width: 8vw;
    position: absolute;
    top: 22vh;
    right: 1vw;
    padding: 2px;
  }
}
@media only screen and (max-width: 1024px) {
  .trigger-notification {
    color: var(--bs-body-bg);
    background-color: var(--main-colorsbluetiful);
    border-radius: 6px;
    transition: none;
    font-family: "Open-sans", sans-serif;
    width: 11vw;
    position: absolute;
    top: 22vh;
    right: 1vw;
  }
}
