@media only screen and (min-width: 2560px) {
  .container-icon-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    width: 5vw;
    height: 5vh;
    margin-left: 90vw;
  }
  .trigger-notification {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 2559px) {
  .container-icon-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    width: 5vw;
    height: 5vh;
    margin-left: 90vw;
  }
  .trigger-notification {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container-icon-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    width: 5vw;
    height: 5vh;
    margin-left: 90vw;
  }
  .trigger-notification {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1024px) {
  .container-icon-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    width: 5vw;
    height: 5vh;
    margin-left: 95vw;
  }
  .trigger-notification {
    font-size: 45px;
  }
}
