.navbar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: solid 1px rgb(255, 255, 255);
  background-color: var(--main-colorsbluetiful)
}
.navbar-admin, .nav-item, .nav-link{
  height: 10%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar-admin, .nav-item, .nav-link{
  height: 10%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-item h4{
  color: var(--main-colorswhite);
  font-size: var(--font-size-m2);
}