@media only screen and (min-width: 1025px) {
  .container-attendees {
    width: 98vw;
    display: flex;
    column-gap: 2%;
    margin: 2% auto;
    height: 50vh;
  }
  .container-attendees-info {
    width: 36vw;
    height: 70vh;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffff;
    margin-left: 10vw;
  }
  .container-attendees-info-detail {
    width: 29vw;
    height: 70vh;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .container-stripe-transaction-per-user{
    background: var(--main-colorswhite);
    width: 97vw;
    margin: 1% auto;
    margin-top: 2%;
    border: solid 2px var(--black);
    border-radius: 15px;
    padding: 15px;
  }

  .container-attendees-info-table {
    height: 300px;
  }
  .container-attendes-stripe-transaction-info {
    width: 100%;
  }
  .stripetransaction-detail-info {
    width: 100%;
  }
  .container-user-info-detail {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  .container-attendees {
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin: 2vh auto;
    height: 50vh;
  }
  .container-attendees-info {
    width: 70vw;
    height: 80vh;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffff;
  }
  .container-attendees-info-detail {
    width: 70vw;
    height: 80vh;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .container-stripe-transaction-per-user{
    background: var(--main-colorswhite);
    width: 97vw;
    margin: 1% auto;
    margin-top: 2%;
    border: solid 2px var(--black);
    border-radius: 15px;
    padding: 15px;
  }

  .container-attendees-info-table {
    height: 300px;
  }
  .container-attendes-stripe-transaction-info {
    width: 100%;
  }
  .stripetransaction-detail-info {
    width: 100%;
  }
  .container-user-info-detail {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
