@media only screen and (min-width: 1441px) {
  .container-graphic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 64vw;
    margin-left: 15vw;
    border: 1px solid var(--black);
    background-color: var(--main-colorswhite);
    border-radius: 15px;
  }
  .container-graphic p {
    text-decoration: underline;
    padding-top: 20px;
    color: var(--black);
  }
  .container-stock-device {
    width: 70vw;
    display: flex;
    column-gap: 2%;
    margin: 2vh auto;
    height: 55vh;
  }
  .container-stock-device-list {
    width: 40vw;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    min-height: 5vh;
    background-color: #fff;
  }
  .container-stock-device-details {
    width: 23vw;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    min-height: 5vh;
    background-color: #fff;
  }

  .container-device-info-table {
    height: 300px;
  }


  .container-footer-stock {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .device-detail-section {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 17vw;
    margin-bottom: 2vh;
    height: 21vh;
  }
    .table-detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 18vh;
    width: 17vw;
  }
  .detail-history-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 11vw;
  }
  .device-user-history-container {
    width: 17vw;
    height: 28vh;
    overflow: auto;
  }
  .table-device-user-history {
    width: fit-content;
  }
  .export-btn {
    padding-top: 25px;
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
    color: #15aaf5;
  }
  #icon-delete-searchTerm {
    position: absolute;
    right: 37vw;
    font-size: var(--font-size-xl2);
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container-graphic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 64vw;
    margin-left: 15vw;
    border: 1px solid var(--black);
    background-color: var(--main-colorswhite);
    border-radius: 15px;
  }
  .container-graphic p {
    text-decoration: underline;
    padding-top: 20px;
    color: var(--black);
  }
  .container-stock-device {
    width: 70vw;
    display: flex;
    column-gap: 2%;
    margin: 2vh auto;
    height: 60vh;
  }
  .container-stock-device-list {
    width: 40vw;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    min-height: 55vh;
    background-color: #fff;
  }
  .container-stock-device-details {
    width: 23vw;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    min-height: 55vh;
    background-color: #fff;
  }

  .container-device-info-table {
    height: 300px;
  }

  .container-footer-stock {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .device-detail-section {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 17vw;
    margin-bottom: 2vh;
  }
  .table-detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 18vh;
    width: 17vw;
  }
  .detail-history-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 11vw;
  }
  .device-user-history-container {
    width: 17vw;
    height: 28vh;
    overflow: auto;
  }
  .table-device-user-history {
    width: fit-content;
  }
  .export-btn {
    padding-top: 25px;
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
    color: #15aaf5;
  }
  #icon-delete-searchTerm {
    position: absolute;
    right: 37vw;
    font-size: var(--font-size-xl2);
  }
}
@media only screen and (max-width: 1024px) {
  .container-graphic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 86vw;
    margin: auto;
    border: 1px solid var(--black);
    background-color: var(--main-colorswhite);
    border-radius: 15px;
  }
  .container-graphic p {
    text-decoration: underline;
    padding-top: 20px;
    color: var(--black);
  }
  .container-stock-device {
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% auto;
    height: 70vh;
  }
  .container-stock-device-list {
    width: 50vw;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    min-height: 70vh;
    background-color: #fff;
  }
  .container-stock-device-details {
    width: 31vw;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 20px;
    min-height: 70vh;
    background-color: #fff;
  }

  .container-device-info-table {
    height: 300px;
  }
  .container-footer-stock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .device-detail-section {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 20vw;
    margin-bottom: 2vh;
  }
  .detail-history-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 27vw;
  }
  .device-user-history-container {
    width: 26vw;
    height: 28vh;
    overflow: auto;
  }
  .table-device-user-history {
    width: fit-content;
  }
  .export-btn {
    padding-top: 25px;
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
    color: #15aaf5;
  }
  #icon-delete-searchTerm {
    position: absolute;
    right: 30vw;
    font-size: var(--font-size-xl2);
  }
}
