.container-stripe-transaction{
    width: 80vw;
    height: 25vh;
    margin: 1vh auto;
    border: solid 1px #212529;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
    background-color: var(--bs-body-bg);
}
.table{
    text-align: left;
}