.container-accordion-info-asinged {
  width: 50%;
  margin: auto;
  border: solid 1px #fff;
}

@media only screen and (min-width: 320px) and (max-with: 480px){
  .container-accordion-info-asinged {
    width: 100%;
    margin: auto;
    border: solid 1px #fff;
  }
  .accordion-table {
    width: 100%;
  }
  .table-thead {
    width: 100%;
  }
  .table-tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table-tr-category-title{
    width: 100%;
    display: grid;
    gap: 50px;
  }
}
