@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Inter:400");

.navbar-fixed {
  display: flex;
  align-items: center;
  background-color: rgba(22,22,81,1);
  gap: 40px;
  left: 0;
  padding: 12px 36px;
  position: fixed;
  bottom: 0;
  width: fit-content;
  z-index: 1;  
}
.icon-span {
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #ffff;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .navbar-fixed {
    display: flex;
    align-items: center;
    background-color: rgba(22,22,81,1);
    gap: 2px;
    left: 0;
    padding: 12px 36px;
    position: fixed;
    bottom: 0;
    width: fit-content;
    z-index: 1;  
  }
  .icon-span{
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ffff;
  }
  .icon-span i{
    font-size: 30px;
  }
  .icon-span span{
    font-size: 10px;
  }
  .btn-logout{
    color: #ffff;
    background-color: rgba(255, 0, 0, 0.678);
    border-radius: 50%;
  }
  .btn-logout i{
    font-size: 20px;
  }
}
