.container-navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--haddocks-sweater);
  color: #fff;
  position: sticky;
}
.navbar-logo-section {
  width: 30%;
  height: 30%;
  padding-left: 15px;
}
.navbar-name-section {
  width: 30%;
  display: flex;
}
.navbar-main-title {
  padding: 15px;
}

@media only screen and (max-width: 650px) {
  .container-navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--haddocks-sweater);
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
  }
  .navbar-logo-section {
    width: 30%;
  }
  .navbar-name-section {
    width: 45%;
    display: flex;
  }
  .navbar-main-title {
    padding: 0px;
  }
}
