.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  position: relative;
  left: 0%;
  bottom: 0%;
}
.navbar-fixed {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e73be;
  color: #ffff;
  position: fixed;
  left: 0%;
  bottom: 0%;
}
.icon-span {
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #ffff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
  }
  .navbar-fixed {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e73be;
    color: #ffff;
    position: fixed;
    left: 0%;
    bottom: 0%;
  }
  .icon-span {
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ffff;
  }
}
