.pagination{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 5rem; */
    font-size: 1.2rem;
    gap: 5px;
} 
.page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
} 
.page-num:hover{
    background-color: var(--main-colorsbluetiful);
    color: #fff;
} 
.tab-active{
background-color: var(--main-colorslobster);
color: #fff;
border-radius: 15px;
}