.container-more-info{
    width: 90%;
    margin: 5% auto;
    /* height: calc(100% - 10vh); */
}
.container-link-info{
    width: 100%;
    border: solid 1px blue;
    border-radius: 15px;
    margin: 5% auto;
    padding: 15px;
}

@media only screen and (min-width: 320px) and (max-width:480){
    .container-more-info{
        width: 100%;
        margin: 5% auto;
        height: calc(100% - 18vh);
    }
    .more-info-title{
        width: 90%;
        padding: 20px;
    }
    .container-link-info{
        width: 90%;
        border: solid 1px blue;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
    }
    
}