.container-more-info-how-to-use {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: start;
  }
  .container-more-info-how-to-use-title {
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .container-more-info-how-to-use-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .video-how-to-use {
    width: 95%;
    padding: 10px;
  }
  .container-info-cards{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
  }
  .container-info-cards-body{
    margin: 4% auto;
  }
  .container-info-cards-body:nth-child(3){
    margin-bottom: 0%;
  }
  .card-text{
    text-align: justify;
  }
  .container-help-link{
    width: 95%;
  }
  .container-help-link-body{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    text-align: center;
  }
  .help-links-body{
    margin: 3% auto;
  }
    .help-links-body span{
    color: var(--main-colorsbluetiful);
    font-weight: 600;
    margin: 5% 0%;
  }

  .help-links-body:last-child(){
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  .div-bottom-space{
    color: transparent;
    height: 15vh;
  }
@media only screen and (min-width:320px) and (max-width: 480px){
  .container-more-info-how-to-use {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: start;
  }
  .container-more-info-how-to-use-title {
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .container-more-info-how-to-use-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .video-how-to-use {
    width: 95%;
    padding: 10px;
  }
  .container-info-cards{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
  }
  .container-info-cards-body{
    margin: 4% auto;
  }
  .container-info-cards-body:nth-child(3){
    margin-bottom: 0%;
  }
  .card-text{
    text-align: justify;
  }
  .container-help-link{
    width: 95%;
  }
  .container-help-link-body{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    text-align: center;
  }
  .help-links-body{
    margin: 3% auto;
  }
    .help-links-body span{
    color: var(--main-colorsbluetiful);
    font-weight: 600;
    margin: 5% 0%;
  }
  .help-links-body:last-child(){
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  .div-bottom-space{
    color: transparent;
    height: 15vh;
  }
}