.event-schedule-format-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    margin: 10% auto;
    background-color: var(--bs-body-bg);
    border: solid 1px var(--bs-gray-400);
    border-radius: 15px;
    width:90%;
    padding-top: 5%;
}