.navbar-fixed {
  width: 100%;
  height: 15vh;
  background-color: rgb(8, 25, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  left: 0%;
  bottom: 0%;
}

.navbar-fixed span {
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
}
.navbar-fixed i {
    margin: 0 auto;
    text-align: center;  
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.icon-span {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
  margin: 0 auto;

}

@media only screen and (max-width: 650px) {
  .navbar-fixed {
    width: 100%;
    height: 1vh;
    background-color: rgb(8, 25, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    left: 0%;
    bottom: 0%;
    opacity: 0.5;
    transition: all 0.2s;
    text-decoration: none;
  }

  .navbar-fixed:hover {
    opacity: 1;
    height: 15vh;
  }
  .navbar-fixed span {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 15px;
  }
  a {
    text-decoration: none;
  }
  .navbar-fixed i {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  
  .icon-span {
    width: 22%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  }
