.navbar-fixed {
  width: 40%;
  background-color: rgb(8, 25, 82);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  position: fixed;
  bottom: 0%;
  z-index: 3;
}

.navbar-fixed span {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}
a {
  text-decoration: none;
}
.navbar-fixed i {
  margin: 0 auto;
  text-align: center;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

.icon-span {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 650px) {
  .navbar-container{
    width: 50%;
  }
  .navbar-fixed {
    width: 80%;
    height: 15vh;
    background-color: rgb(8, 25, 82);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    transition: all 0.2s;
    text-decoration: none;
  }
  a{
    width: 15%;
    margin: auto;
  }

  .navbar-fixed span {
    font-size: 5px;
  }
  
}