.search-input{
    width: 100%;
    margin: 0 auto;
}
.search-input input{
    width: 50%;
}

.search-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

.receivers-input{
    width: 100%;
}

.receivers-input input{
    width: 100%;
}