.search-input {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input-field{
  width: 90%;
  /* height: 3vh; */
  border-radius: 0px;
  /* margin: 2px auto; */
  padding-left: 15px;
}
.search-button {
  background: rgb(30, 115, 190);
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 0px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgb(0 0 0 / 7%);
  width: 10%;
}
#icon-delete-searchTerm{
  display: block;
  position: absolute;
  right: 37vw;
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  width: 50%;
}

.receivers-input {
  display: flex;
  width: 100%;
}

.receivers-input input {
  width: 100%;
}
.container-stripe-transaction-per-user {
  width: 61%;
  margin: 0 auto;
  margin-bottom: 2%;
  border: solid 2px #212529;
  border-radius: 15px;
  padding: 15px;
}
