.profile-admin-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2% auto;
  width: 75%;
}
.profile-info-detail {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 30px;
  width: 50%;
}

.personal-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 30vw;
  height: 55vh;
  border: solid 1px #000;
  border-radius: 15px;
  background-color: var(--bs-body-bg);
}
.container-buttons-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
}
.link-edit-profile{
    color: #15AAF5;
    font-size: var(--font-size-l2);
    font-weight: 700;
    font-style: normal;
}