.profile-admin-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2% auto;
    width: 75%;
}
.profile-info-detail{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 30px;
    width: 50%;
}
.profile-info-detail img{
    width: 30%;
    height: 50%;
    margin-top: 0%;
    /* position: relative;
    object-position: top; */
    object-fit: fill;
}

.personal-info-box .personal-info-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}