.staff-roles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}
.container-staff-roles-title{
    width: 35%;
    margin: 0 auto;
    padding: 20px;
}
.container-staff-roles-title h4{
text-align: left;
}
.staff-roles-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0 auto;
    text-align: justify;
}
.container-admin-user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container-admin-user-details-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-admin-user-details-card h3 h6{
    text-align: left;
}