.container-qr-code-confirmation{
  width: 50%;
  margin: 50px auto 150px;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .container-qr-code-confirmation{
    width: 90%;
    margin: 15% auto;
    margin-bottom: 10vh;
  }
  .message-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  #first-paragraph{
    width: 70%;
    font-weight: 600;
  }
  .message-confirmation p {
    margin: 5% auto;
    text-align: justify;
  }
  .qr-code-div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    background-color: #ffff;
  }
  .qr-code{
    padding: 5%;
  }
  .links-help-qr-code-confirmation-section{
    width: 95%;
    padding-bottom: 9vh;
    margin: 15% auto;
  }
  .help-link-route{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
  }
}
