@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

body {
  min-height: 100dvh;
  max-width: 769px;
  min-width: 320px;
  margin: 0 auto;
  padding: 15px 0px 0px;
  scrollbar-width: none;
  font-family: "Inter";
}
