.container-contact-info {
  margin: 0 auto;
  margin-bottom: 16vh;
}
.paragraph {
  text-align: start;
  font-size: 13px;
  font-weight: 600;
  margin-left: 1%;
}
@media only screen and (min-width:481px) {
  .container-contact-info {
    margin: 0 auto;
    margin-bottom: 15vh;
  }
  .row {
    width: 95vw;
    margin: 0vh auto;
  }
  .container-input {
    width: 85vw;
    margin: 2vh auto;
    border-radius: 0%;
  }
  input {
    border-radius: 0px;
  }
  input::placeholder {
    font-size: 15px;
    color: var(--main-colorsfading-horizon);
  }
  .paragraph {
    text-align: start;
    font-size: 13px;
    font-weight: 600;
    margin-left: 1%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container-contact-info {
    margin: 0 auto;
    margin-bottom: 25vh;
  }
  .row {
    width: 95%;
    margin: 4% auto;
    margin-top: 10%;
  }
  .container-input {
    width: 100%;
    margin: 5% auto;
    border-radius: 0%;
  }
  input {
    border-radius: 0px;
  }
  input::placeholder {
    font-size: 15px;
    color: var(--main-colorsfading-horizon);
  }
  .paragraph {
    text-align: start;
    font-size: 13px;
    font-weight: 600;
    margin-left: 1%;
  }
}
@media only screen and (max-width: 319px) {
  .container-contact-info {
    margin: 0 auto;
    margin-bottom: 25vh;
    /* height: 115vh; */
  }
  .row {
    width: 95%;
    margin: 4% auto;
    margin-top: 10%;
  }
  .container-input {
    width: 100%;
    margin: 5% auto;
    border-radius: 0%;
  }
  input {
    border-radius: 0px;
  }
  input::placeholder {
    font-size: 15px;
    color: var(--main-colorsfading-horizon);
  }
  .paragraph {
    text-align: start;
    font-size: 13px;
    font-weight: 600;
    margin-left: 1%;
  }
}
