.container-contact-info {
  margin: 0 auto;
  margin-bottom: 16vh;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .container-contact-info {
    margin: 0 auto;
    margin-bottom: 16vh;
  }
}
